$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #1ca8dd;
$base-label-color: #dedede;
$base-link-color: #1ca8dd;
$base-icon-color: #dedede;
$base-text-color: #dedede;
$base-bg: #2a2a2a;
$base-border-color: #4d4d4d;
$base-border-radius: 4px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #dedede;
$base-hover-bg: rgba(255, 255, 255, 0.05);
$base-focus-color: #2a2a2a;
$base-focus-bg: #1ca8dd;
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$base-border-radius-small: 3px;
$base-border-radius-large: 6px;
$button-normal-color: #dedede;
$button-normal-bg: #2a2a2a;
$button-normal-border-color: #4d4d4d;
$button-default-color: #2a2a2a;
$button-default-bg: #1ca8dd;
$button-default-border-color: #1997c6;
$button-danger-color: #2a2a2a;
$button-danger-bg: #d9534f;
$button-danger-border-color: #d43f3a;
$button-success-color: #2a2a2a;
$button-success-bg: #5cb85c;
$button-success-border-color: #4cae4c;
$list-border-color: #4d4d4d;
$list-group-color: #dedede;
$list-group-header-bg: rgba(59, 59, 59, 0.05);
$list-normal-color: #dedede;
$list-item-hover-bg: rgba(255, 255, 255, 0.05);
$list-item-selected-bg: rgba(255, 255, 255, 0.12);
$list-item-focused-selected-bg: rgba(28, 168, 221, 0.7);
$list-focused-bg: #1ca8dd;
$list-item-active-bg: #1ca8dd;
$fieldset-field-label-color: #dedede;
$checkbox-border-color: #4d4d4d;
$checkbox-focused-borderd-color: #1ca8dd;
$checkbox-bg: #2a2a2a;
$checkbox-hover-border-color: #4ebee9;
$checkbox-active-icon-bg: rgba(201, 201, 201, 0.2);
$tabs-tab-color: #dedede;
$tabs-tab-selected-color: #dedede;
$tabs-tab-bg: #323232;
$tabs-tab-selected-bg: #2a2a2a;
$tabs-border-color: #4d4d4d;
$tabs-focused-border-color: #1ca8dd;
$tabs-tab-hover-bg: #2a2a2a;
$scrollable-scroll-bg: rgba(106, 106, 106, 0.7);
$scrollable-scrollbar-active-bg: rgba(106, 106, 106, 0.2);
$badge-color: #2a2a2a;
$badge-bg: #1ca8dd;
$navbar-tab-color: #dedede;
$navbar-tab-selected-color: #dedede;
$navbar-tab-bg: #222222;
$navbar-tab-selected-bg: #2a2a2a;
$overlay-content-bg: #2a2a2a;
$overlay-shader-bg: rgba(42, 42, 42, 0.8);
$overlay-focus-border-color: #4d4d4d;
$textbox-search-icon-color: #787878;
$texteditor-color: #dedede;
$texteditor-placeholder-color: #787878;
$texteditor-bg: #2a2a2a;
$texteditor-filled-bg: rgba(222, 222, 222, 0.05);
$texteditor-border-color: #4d4d4d;
$texteditor-focused-border-color: #1ca8dd;
$texteditor-hover-border-color: rgba(28, 168, 221, 0.4);
$loadindicator-bg: #b1b1b1;
$treeview-focused-bg: #1ca8dd;
$treeview-hover-bg: rgba(255, 255, 255, 0.05);
$treeview-border-color: #4d4d4d;
$treeview-item-selected-color: #dedede;
$treeview-spin-icon-color: #dedede;
